@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand:700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');

@font-face{
    font-family: 'VulfMono-LightItalic';
    src:  url('../font/Vulf_Mono-Light_Italic_web.woff2') format('woff2'),
                url('../font/Vulf_Mono-Light_Italic_web.woff') format('woff'),
                url('../font/Vulf_Mono-Light_Italic_web.ttf') format('truetype');
  }

/* nanum-gothic-regular - latin */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanum-gothic-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic'),
         url('../fonts/nanum-gothic-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nanum-gothic-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nanum-gothic-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nanum-gothic-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nanum-gothic-v14-latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }


h1,
h2,
h3,
p {
    color: #14161a;
}

h1,
h2,
h3 {
    font-family: 'VulfMono-LightItalic', sans-serif;
}

.italic {
    font-family: 'Libre Baskerville', serif;
}

p,ol {
    font-family: 'Nanum Gothic',sans-serif;
    font-weight: 300;
    line-height:2;
    font-size: 14px;
    letter-spacing:0.1px
}

.name {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 14px;
    letter-spacing: 0.50px;
}

.time {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 14px;
    color:#fff;
}


.top-left-20 {
    top: 20%;
    left:20%;
}

.bottom-left-20{
    bottom:20%;
    left:20%;
}