@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand:700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');

@font-face{
    font-family: 'VulfMono-LightItalic';
    src:  url('../font/Vulf_Mono-Light_Italic_web.woff2') format('woff2'),
                url('../font/Vulf_Mono-Light_Italic_web.woff') format('woff'),
                url('../font/Vulf_Mono-Light_Italic_web.ttf') format('truetype');
  }

h1,
h2,
h3,
p {
    color: #14161a;
}

h1,
h2,
h3 {
    font-family: 'VulfMono-LightItalic', sans-serif;
}

.italic {
    font-family: 'Libre Baskerville', serif;
}

html, body p,ol {
    font-family: 'Nanum Gothic',sans-serif;
    font-weight: 300;
    line-height:2;
    font-size: 14px;
    letter-spacing:0.1px
}

.name {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 14px;
    letter-spacing: 0.50px;
}

.time {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 14px;
    color:#fff;
}


.top-left-20 {
    top: 20%;
    left:20%;
}

.bottom-left-20{
    bottom:20%;
    left:20%;
}