@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@font-face{
    font-family: 'VulfMono-LightItalic';
    src:  url('../font/Vulf_Mono-Light_Italic_web.woff2') format('woff2'),
                url('../font/Vulf_Mono-Light_Italic_web.woff') format('woff'),
                url('../font/Vulf_Mono-Light_Italic_web.ttf') format('truetype');
  }

@font-face{
    font-family: 'Gong-gan';
    src: url('../font/GonganL.woff');
}

h1,
h2,
h3,
p {
    color: #14161a;
}


h1 {
    font-family: 'VulfMono-LightItalic','Gong-gan', sans-serif;
}

h2{
    font-family: 'VulfMono-LightItalic', 'Gong-gan',sans-serif; 
}

h3{
    font-family: 'VulfMono-LightItalic', 'Gong-gan',sans-serif; 
    font-size: 24px;
}


p {
    font-family: 'Nanum Gothic',sans-serif;
    font-weight: 400;
    line-height:2;
    font-size: 14px;
    letter-spacing:0.1px;
}

.detail_en {
    font-family: 'VulfMono-LightItalic', 'Gong-gan',sans-serif; 
    font-size: 12px;
    word-break: keep-all;
}

.intro_name {
    font-family: 'VulfMono-LightItalic', 'Gong-gan',sans-serif; 
    font-size: 21px;
    color:#000;
}

.intro_text {
    font-family: 'Gong-gan', 'Nanum Gothic', sans-serif;
    font-size: 18px;
}

.index_title {
    font-family: 'Gong-gan', 'Nanum Gothic', sans-serif;
    font-size: 24px; 
}

.information {
    font-family: 'Gong-gan', 'Nanum Gothic', sans-serif;
    font-size: 18px;
    word-break: keep-all;
}

.information_en {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 16px;
    margin-bottom:1rem;
}


.name {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 18px;
    color:white;
    letter-spacing: 0.5px;
}

.time {
    font-family: 'VulfMono-LightItalic', sans-serif;
    font-size: 18px;
    line-height: 0.95;
}

.content {
    font-family: 'Gong-gan', 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

.top-left-20 {
    top: 20%;
    left:20%;
}

.bottom-left-20{
    bottom:20%;
    left:20%;
}


/*
.content:before {
    display: inline-block;
    content: ' ';
    background-image: url('../img/diamond.svg');
    background-size: 12px 12px;
    height: 12px;
    width: 12px;
    margin-right: 12px; 
  }
*/

.content:before {
    display: inline-block;
    content: ' ';
    height: 4px;
    width: 4px;
    background-color:white;
    border-radius: 50%;
    margin-right: 12px; 
  }


.things-list {
list-style-type: none;
padding:0;
}


.things-list li {
font-family: 'Nanum Gothic', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 29px;
counter-increment: step-counter;
text-align: left;
word-break: keep-all;
}

/*
.things-list li::before {
margin: auto;
content: counter(step-counter);
content: '';
font-family: 'VulfMono-LightItalic';
display: block;
font-size: 12px;
background-image: url('../img/symbol/red.svg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
text-align: center;
height: 24px;
width: 24px;
color:white;
}
*/

.photo-grid{
    display: none;
}

.button {
    font-family: 'Gong-gan', 'Nanum Gothic', sans-serif;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 1px #2E44E3;
    text-decoration: none;
    line-height: 10px;
    padding:4px;
}

.button:hover {
    background-color:#14161a;;
    color:white;
}